:root {
  font-family: "Alata", sans-serif;
  font-size: 16px;
  --body: rgb(138, 205, 234);
  --text: rgb(8, 76, 97);
  --text2: rgb(241, 211, 2);
  --element: rgb(8, 76, 97);
  --element-active: rgb(54, 59, 64);
  --element-hover: rgb(53, 59, 65);
  --error: rgb(251, 80, 18);
}

body {
  display: grid;
  grid-template-columns: repeat(15, 1fr);
  grid-template-rows: repeat(10, 1fr);
  margin: 0;
  background-color: var(--body);
}

#page-title {
  grid-area: 1 / 6 / 2 / 11;
  color: var(--text);
  font-size: 2em;
  text-align: center;
  padding: 1em;
}

.gameboard {
  display: grid;
  grid-template-columns: repeat(10, 1fr);
  grid-template-rows: repeat(10, 1fr);
  background-color: var(--body);
  margin: 0.3em solid var(--element);
}
#player-box {
  grid-area: 3 / 2 / 9 / 8;
}

#computer-box {
  grid-area: 3 / 9 / 9 / 15;
}

.box-div {
  background-color: var(--body);
  border: 0.1em solid var(--element);
  width: 1fr;
  height: 1fr;
  transition: 0.15s ease-in-out;
}

.box-div:hover {
  border: 0.3em solid var(--text2);
  border-radius: 8px;
  scale: 1.1;
}

#btn-start-game {
  grid-area: 9 / 8 / 10 /9;
  background-color: var(--body);
  color: var(--text);
  border: 0.2em solid var(--element);
  border-radius: 10px;
  align-self: center;
  padding: 0.5em;
  transition: 0.2s ease-in-out;
}

#btn-start-game:hover {
  background-color: var(--element-hover);
  color: var(--text2);
}
